{% extends "MainLogin.html" %}
{% block content %}
    <div class="container" id="pregunta">
      <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    	  <div class="modal-dialog modal-lg" role="document">
    	    <div class="modal-content">
    	      <div class="modal-header">
    	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	        <h4 class="modal-title" id="myModalLabel"></h4>
    	      </div>
    	      <div class="modal-body">
              <div id="contenido">

              </div>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <!--<label for="mensaje">Comentario: </label>-->
                <textarea data='' name="mensaje" rows="8" cols="40" class="form-control estilotextarea" id="mensaje" placeholder="Agrega un comentario..."></textarea>
              </div>
              <div id="best-comment">

              </div>
              <div class="comentarios">

              </div>
    	      </div>
    	      <div class="modal-footer">
    	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    	      </div>
    	    </div>
    	  </div>
    	</div>
    </div>
    <script>
      //alert( $.cookie("example"));
    	var Diccionario={};
    	$.ajax({
	        method:"POST",
	        url:"/tuspreguntas",
	        dataType:'json',
	        success: function(data){
            //Poner todo esto en un metodo, y llamarlo aqui
  	        var user = data.user;
	          for(var i = 0;i<data.Q.length;i++){
	            var titulo = String(data.Q[i]);

	            var descripcion = data.D[i].toString();
	            var descripcion_sinSalto = descripcion.split("\n").join(" ")
	            var fecha = data.dateT[i];
	            var tags = [];
	            var llave = data.key[i]
	            for (var j = 0; j < data.tag[i].length; j++) {
	              tags.push(data.tag[i][j]);
	            }
	            Diccionario[llave]={'fecha':fecha,'descripcion':descripcion_sinSalto,'titulo':titulo,'tags':tags,'user':user };
	            $("#pregunta").append(
	              "<section class='row'>"+
	                "<div class='col-xs-12 col-md-9 col-sm-8 vcenter'>"+
	                  "<h2>"+data.Q[i]+"</h2>"+
	                "</div>"+
	                "<div class='col-xs-12 col-md-3  col-sm-4 vcenter'>"+
	                  "<button id="+llave+" class='btn btn-success btn-lg center-block pregunta' data-toggle='modal' data-target='#myModal'>"+
	                    "<span class='caret'></span> Ver Mas</button>"+
	                "</div>"+
	              "</section>");

	            $("#pregunta").append("<hr>")

	          }
	          $(document).ready(function(){
		        $("#mensaje").keypress(function(e){
		          var msg = $("#mensaje").val()
		          if($.trim(msg)){
		            if(e.which == 13 && !e.shiftKey){
		              var llave=$("#mensaje").attr("data");
		              $("#mensaje").val("");
		              e.preventDefault()

		              $(".comentarios").append("<hr>");
		              $(".comentarios").append("<h3>"+Diccionario[llave].user+" dice:</h3>");
		              $(".comentarios").append("<p>"+msg+"</p>");
                  //hacer que envie primero ajax y si lo hace bien que regrese el id de la pregunta recien ingresada
                  $(".comentarios").append("<button class='btn btn-success'><h6>Marca Como Correcta</h6></button>");

		              $.ajax({
		                method:"post",
		                data:{cmt:msg,clave:llave,user:Diccionario[llave].user},
		                url:'/comentarios',
		                dataType: 'json',
		                success: function(data){console.log("bien")},
		                error: function(data){console.log("mal")}
		              })
		            }
		          }
		        });

		       $(".pregunta").click(function(){
		          var llave=$(this).attr("id");
		          console.log("ID"+llave);
		          $("#mensaje").val("");
		          $("#mensaje").attr("data",llave);
		          $("#myModalLabel").empty()
		          $("#contenido").empty()
		          $(".comentarios").empty()
		          $("#myModalLabel").append(Diccionario[llave].titulo+"<h6 style='margin:0px'>Publicado por "+Diccionario[llave].user+"</h6>")
		          $("#contenido").append(Diccionario[llave].descripcion)
		          var array = Diccionario[llave].tags;
		          $("#contenido").append("<br><br><br>")
		          for (var i = 0; i < array.length; i++) {
		            $("#contenido").append("<button class='btn btn-primary btn-xs' onclick=avisa('"+array[i]+"')>"+array[i]+"</button>")
		          }
		          $("#contenido").append("<br><small>"+Diccionario[llave].fecha+"</small>")
		          console.log(llave)
		          buscaComentarios(llave)
		        });
		        console.log("Ahora a cargar los datos modal")
			})
	        },
	        error: function(data){
	          alert("Ya valiste valedor")
	        }
	      })
    </script>
    <script>


     function buscaComentarios(llave){
        $.ajax({
          method:"put",
          url:'/comentarios',
          dataType:'json',
          data:{clave:llave},
          success:function(data){
            for(var j=0;j<data.BC.length;j++){
              var bcomentario = data.BC[j];
              var user = data.BU[j];
              $(".comentarios").append("<hr>");
              $(".comentarios").append("<h3>"+user+" dice:</h3>");
              $(".comentarios").append("<p>"+bcomentario+"</p>");
              //poner click para clase quitar que desmarque como correcta el comentario y sin responder la pregunta
              $(".comentarios").append("<button class='btn btn-danger quitar' id="+data.BK[j]+"><h6>Desmarca Como Correcta</h6></button>");

            }
            for(var i=0;i<data.C.length;i++){
              var comentario = data.C[i];
              //var fecha = data.dateT[i];
              var user = data.U[i];
              $(".comentarios").append("<hr>");
              $(".comentarios").append("<h3>"+user+" dice:</h3>");
              $(".comentarios").append("<p>"+comentario+"</p>");
              $(".comentarios").append("<button class='btn btn-success correcta' id="+data.LL[i]+"><h6>Marca Como Correcta</h6></button>");
            }
            //falta poner esto en la otra parte donde pongo el comentario al ingresar enter o solo con poner al boton la clase correcta y el id
            $(".correcta").click(function(){
              var key = $(this).attr("id");
              $.ajax({
                method:'post',
                url: '/cambia',
                dataType:'json',
                data:{idQ:llave,LL:key},
                success:function(data){},
                error:function(data){}
              })
            });
            $(".quitar").click(function(){
              var key = $(this).attr("id");
              $.ajax({
                method: 'put',
                url: '/cambia',
                dataType: 'json',
                data:{idQ:llave,LL:key},
                success: function(data){},
                error: function(data){}
              })
            })
          },
          error:function(data){
            alert("No se pudo completar la accion");
          }
        });
      }




    	function avisa(tag){
        var url="/tag";
        window.location=url+"?TagSeleccionado="+tag;
      }





    </script>

{% endblock %}
